{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tu Registration form Templates">
    <meta name="author" content="Ganesh_Tiwari">
    <meta name="keywords" content="Tu Form">

    <!-- Title Page-->
    <title>TU Exam Form</title>

    <!-- Icons font CSS-->
   
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

   
    <!-- Main CSS-->
    <link href="{% static "../static/main.css" %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">TU Exam Form</h2>
                </div>


                <!-- This is Tribhuwan University block -->

                <div class="card-heading">
                    <h1 class="title"> Tribhuwan University </h1>
                    <h2 class = "title"> Institute of Science & Technology </h2>

                    <h2 class = "title"> Dean's Office, Kirtipur </h2>
                </div>

                <!-- This is end of the TU Block -->

                <div class="card-body">
                    <form method="post" action="/addSubject/">
                        {% csrf_token %}


                        

                        <!-- Here is the list of subjects for confirmations -->


                    <table class="table table-bordered table-dark">
                      <thead>
                        <tr>
                          <th scope="col">S.N.</th>
                          <th scope="col">Course Number</th>
                          <th scope="col">Subject </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>     </td>
                          <td>     </td>
                          <td>     </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                                            






















                        <!-- It is the end of the subjects -->



                <div class="form row m-b-44">
                    <h4 style = " color : blue; " > I will accpet all the <strong> terms & conditions </strong> . </h4>
                </div>


                            <!-- This is the next row in a form -->

                        <div class="form-row p-t-20">
                            <label class="label label--block">Are you an existing customer?</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Yes
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">No
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>




                            <!-- This is the next row in a form -->


                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Submit</button>
                        </div>
                    </form>
                    <br> <br> <br>

                    <form action="/admin/" method="post">
                        {% csrf_token %}
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Admin_Site</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

</body>

</html>
<!-- end document-->
